h1 {
    padding: 50px;
    text-align: center;
    font-style: oblique;
    font-size: 50px;

}

h2 {
    padding: 50px;
    text-align:left;
    font-size: medium;
    font-size: 50px;
    padding-left: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.parag1 {
    text-align: center;
    padding-left: 275px;
    padding-right: 275px;
    font-size: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: max-content;
    background-color: black;
    margin: 0;
  }
  
.brandlogo {
    align-items: center;
    margin-right: 10px;
    height: 150px;
    width: 150px;
  }