.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.img {
  max-width: 200%;
  max-height: 200%;
  width: 400px;
  height: auto;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center; 

}
